.special_container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Centers the elements horizontally */
    gap: 20px; /* Space between the elements */
    width: 100%;
}

.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

.disc_pattern_upperbox {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #FFC107;
    color: white;
    border: 1px solid black;
    font-size: 0.99vw;
}

.inactive_upperbox {
    background-color: #17A2B8;
}

.disc_pattern_middlebox {
    background-color: #FFE7A3;
    color: black;
    border: 1px solid black;
    font-size: 0.99vw;
}

.inactive_middlebox {
    background-color: #E8F9FC;
}


.disc_pattern_lowerbox {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #FFF2CD;
    color: black;
    border: 1px solid black;
    font-size: 0.9vw;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 20px;
}

/* Info box hidden by default */
.info-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show the info box when the parent box is hovered */
.disc_pattern_middlebox:hover .info-box {
    display: block;
}

.inactive_lowerbox {
    background-color: #F4FDFE;
}

.main-select{
    width:40%;
    margin-right: 10px;
}

.dependent-select{
    width: 40%;
    margin-right: 10px;
}

.select-field{
  justify-content: center;
  display: flex;
}

.centered{
    justify-content: center;
    display: flex;
}


.table-responsive{
    max-height: 400px;
}

.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 300px; /* gives an initial height of 200px to the table */
}


.tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
 }

.whiteLink {
    color = white;
}

.instance-box {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 500px; /* Ensures it doesn’t get too small */
    max-width: 60%; /* Restricts maximum size */
}

.indiv_instance_upperbox {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #FFC107;
    color: white;
    border: 1px solid black;
    font-size: 0.99vw;
    width: 100%; /* Ensures all parts have the same width */
    max-height: 50%
}

.indiv_instance_middlebox {
    background-color: #FFE7A3;
    color: black;
    border: 1px solid black;
    width: 100%; /* Ensures all parts have the same width */
    font-size: 0.99vw;
}

.indiv_instance_lowerbox {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #FFF2CD;
    color: black;
    border: 1px solid black;
    font-size: 0.9vw;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 20px;
    width: 100%; /* Ensures all parts have the same width */
}


/* Override table-danger background color */
.table-danger {
  background-color: #f0cfc7 !important;  /* Your custom color */
}

#my-table .table_orange_highlight {
    background-color: #f0cfc7;
}

.bg-custom-orange {
  background-color: #f0cfc7;
}

#my-table .table_green_highlight {
    background-color: #C5E0B4;
}

.yellow_highlight_box {
    background-color: #FFF2CD;
    border: 2px solid black;
}

.monospace {
    min-height: 40px;
    font-weight: normal;
    font-size: 0.9vw;
    font-family: "Lucida Console", "Courier New", monospace;
}


.speech-bubble {
    position: relative;
    background: #F2F2F2;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 40%;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 15px solid #E0E0E0;
    transform: translateY(-50%);
}

/* Styling the collapsible button */
.collapsible {
    background-color: #0FA3B1;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

/* Add a hover effect */
.collapsible:hover {
    background-color: #0a717b;
}

/* Collapsible content */
.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #e9fbfd;
    border-radius: 5px;
    margin-top: 5px;
    border-left: 5px solid #0FA3B1
}

.example {
    background-color: #F8F8F8;
    padding: 10px;
    border-left: 5px solid #797979 ;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: 10px;
}