<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href={{url_for('static', filename="daphne_theme.css")}} rel="stylesheet">
    <title>Data Explorer</title>
</head>

<body>

{% include 'navbar.html' %}

<p></p>


  <form method="post" action=/>
    <div class="container">
      <center> <h5> Apply your data filters here </h5>  </center>
        <div id="select-fields-container" class="form-row">

          <div class="select-field">
            <select class="form-select main-select " name="main_select_1">
              <option value="">Select an option</option>
              {% for column_name in column_names %}
                <option value={{column_name}}>{{column_name}}</option>
              {% endfor %}
            </select>
            <select class="dependent-select form-select" name="dependent_select_1" data-parent="main_select_1">
              <!-- Options will be dynamically populated based on the selection in the first select field -->
            </select>
            <button type="button" class="remove-button"> Remove </button>
          </div>

        </div>

      <p></p>

        <div class="container centered">
          <div class="row">
            <div class="col mx-auto">
              <button type="button" id="add-button" class="btn btn-success"> Add </button>
            </div>
            <div class="col mx-auto">
              <button type="submit" value="Filter" class="btn btn-primary"> Filter </button>
            </div>
        </div>
        </div>
    </div>
  </form>


<!-- This is where table will be shown -->
<div class = "container tableFixHead">
<table class="table">
  <thead class="table-group-divider">
    <tr>
      {% for column_name in column_names %}

        {% if column_name not in numerical_cols %}
            <th scope="col">{{column_name}}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for result in results %}
    <tr>
      <td>{{result.age}}</td>
      <td>{{result.marital_status}}</td>
      <td>{{result.workinghours}}</td>
      <td>{{result.education}}</td>
      <td>{{result.workclass}}</td>
      <td>{{result.occupation}}</td>
      <td>{{result.race}}</td>
      <td>{{result.sex}}</td>
      <td>{{result.income}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>


    $(document).ready(function() {
      let selectFieldCount = 1;
      let optionsDict = {'age': ["Younger than 30", "30 - 39", "40-49", "50-59", "Older than 60"],
                'marital_status': ['Never married', 'Married', 'Seperated', 'Widowed'],
                'workinghours' : ["Less than 20", "20 to 39", "40 to 49", "More than 50"],
                'education' : ['Middle School', 'High School', 'Higher Ed.', 'Bachelors', 'Masters', 'Doctorate'],
                'workclass' : ['self-employed', 'private', 'government'],
                'occupation': ['Exec-managerial', 'Machine-op-inspct', 'Prof-specialty', 'Other-service', 'Adm-clerical', 'Transport-moving', 'Sales', 'Craft-repair', 'Farming-fishing', 'Tech-support', 'Other', 'Handlers-cleaners'],
                'race' : ['White', 'Black'],
                'sex' : ["Female", "Male"],
                'income' : ['<=50K', '>50K']};

      // Function to update dependent select options
      function updateDependentOptions(selectField) {
        const mainSelectValue = selectField.val();
        const dependentSelect = selectField.parent(".select-field").find(".dependent-select");
        const dependentOptions = optionsDict[mainSelectValue];

        dependentSelect.empty(); // Clear existing options

        if (dependentOptions) {
          dependentOptions.forEach(option => {
            dependentSelect.append(`<option value="${option}">${option}</option>`);
          });

          // Remove the chosen option from the available options for the next select field
          delete optionsDict[mainSelectValue];
        }

        // Hide the "Add More" button if no more options are available
        if (Object.keys(optionsDict).length === 0) {
          $("#add-button").hide();
        }
      }

      // Function to add a new select field
      function addSelectField() {
        selectFieldCount++;
        const newSelectField = `
          <div class="select-field">
            <select class="main-select form-select" name="main_select_${selectFieldCount}">
              <option value="">Select an option</option>
              <!-- Generate options for the main select based on the remaining options in optionsDict -->
              ${Object.keys(optionsDict).map(option => `<option value="${option}">${option}</option>`).join('')}
            </select>
            <select class="dependent-select form-select" name="dependent_select_${selectFieldCount}" data-parent="main_select_${selectFieldCount}">
              <!-- Options will be dynamically populated based on the selection in the first select field -->
            </select>
            <button type="button" class="remove-button">Remove</button>
          </div>
        `;
        $("#select-fields-container").append(newSelectField);

        // Hide the "Add More" button if no more options are available
        if (Object.keys(optionsDict).length === 0) {
          $("#add-button").hide();
        }
      }

      // Function to remove a select field
      function removeSelectField() {
        const mainSelectValue = $(this).siblings('.main-select').val();
        if (mainSelectValue) {
          optionsDict[mainSelectValue] = $(this).siblings('.dependent-select').children('option').map((_, el) => el.value).get();
        }
        $(this).parent(".select-field").remove();

        // Show the "Add More" button when a select field is removed
        $("#add-button").show();
      }

      // Event listeners
      $("#add-button").click(addSelectField);
      $(document).on("change", ".main-select", function() {
        updateDependentOptions($(this));
      });
      $(document).on("click", ".remove-button", removeSelectField);

      // Initial update of the first select field
      updateDependentOptions($(".main-select"));
    });
  </script>


</html>