<!--expand-lg means that the navbar will be expanded once the breakpoint for a LARGE desktop size is passed. -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class = "container">
    <a class="navbar-brand" href="#"> BIAS DETECTOR </a>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu">   <!-- the navmenu here, refers to the id of the collapsable navbar section that follows later -->

        <span class = "navbar-toggler-icon"> </span>   <!-- navbar toggler icon is the 'hamburger icon' to display the collapsable navbar -->
    </button>
    <!-- putting all the other buttons into a collapsable navbar, ensures that with smaller screens the navbar items are shown in a clickable menu
    style (i.e. only when menu button is clicked all these nabar items are displayed) -->
    <div class="collapse navbar-collapse" id="navmenu">
    <!-- ul tag shows that an 'unordered list' is about to start, the class shows that in this case the UL belongs to a navbar.
    each list item is introduced by <li> -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/" class="nav-link"> View Data </a>
        </li>
        <li class="nav-item">
            <a href="{{url_for('filter_discriminatory_rules')}}" class="nav-link"> Inspect Discriminatory Patterns </a>
        </li>
    </ul>
    </div>
    </div>
</nav>